In [108]:
import streamlit as st
import joblib
import numpy as np
import pandas as pd

df = pd.read_csv('data/전체_수정_streamlit용.csv')
df1 = pd.read_csv('data/골목_streamlit용.csv')
df2 = pd.read_csv('data/비골목_streamlit용.csv')

In [111]:
selected_feature1 = '국기원'
selected_feature3 = 1
type = df1[df1['상권_코드_명'] == selected_feature1]['상권_구분_코드_명'].tolist()[0]
if type == '골목상권' :
    type_code = 0
else:
    type_code = 1

filtered_df = df1[(df1['상권_코드_명'] == selected_feature1) & (df1['분기'] == selected_feature3) & (df1['기준_년_코드'] == 2022)]
filtered_df

,매출,기준_년_코드,상권_구분_코드_명,상권_코드,상권_코드_명,시간대,분기,점포수,총 상주인구 수,총 가구 수,...,배후지_아파트_가격_1_억_미만_세대_수,배후지_아파트_가격_1_억_세대_수,배후지_아파트_가격_2_억_세대_수,배후지_아파트_가격_3_억_세대_수,배후지_아파트_가격_4_억_세대_수,배후지_아파트_가격_5_억_세대_수,배후지_아파트_가격_6_억_이상_세대_수,시간대_버스_승하차승객수,평일_생활인구_평균,주말_생활인구_평균
2472,34587.75458,2022,골목상권,2110954,국기원,1,1,3,497,335,...,6.0,285.0,226.0,67.0,49.0,50.0,68.0,0,78936.8,72891.0
2476,56082.13919,2022,골목상권,2110954,국기원,2,1,3,497,335,...,6.0,285.0,226.0,67.0,49.0,50.0,68.0,0,78936.8,72891.0
2480,74176.18681,2022,골목상권,2110954,국기원,3,1,3,497,335,...,6.0,285.0,226.0,67.0,49.0,50.0,68.0,0,78936.8,72891.0
2484,83521.20513,2022,골목상권,2110954,국기원,4,1,3,497,335,...,6.0,285.0,226.0,67.0,49.0,50.0,68.0,0,78936.8,72891.0
2488,138064.70700,2022,골목상권,2110954,국기원,5,1,3,497,335,...,6.0,285.0,226.0,67.0,49.0,50.0,68.0,0,78936.8,72891.0
2492,89737.90842,2022,골목상권,2110954,국기원,6,1,3,497,335,...,6.0,285.0,226.0,67.0,49.0,50.0,68.0,0,78936.8,72891.0

In [88]:
my_list = df1['상권_코드_명'].tolist()
unique_list = set(my_list)

In [91]:

for value in unique_list :
    filtered_df = df1[(df1['상권_코드_명'] == value) & (df1['기준_년_코드'] == 2022) & (df1['분기'] == 1)]
    data = filtered_df.shape[0]
    if data != 6 :
        print(value, data)
    else:
        pass
print('끝')

끝

In [116]:
ddd = [1]
feature_list = filtered_df.iloc[0,7:].tolist()

[3,
 497,
 335,
 636,
 3,
 0,
 28,
 2,
 3,
 0,
 0,
 1,
 51576,
 3,
 52.0,
 6.0,
 285.0,
 226.0,
 67.0,
 49.0,
 50.0,
 68.0,
 0,
 78936.8,
 72891.0]

In [110]:
type = df[df['상권_코드_명'] == selected_feature1]['상권_구분_코드_명'].tolist()[0]
if type == '골목상권' :
    type_code = 0 # 골목상권
else:
    type_code = 1 # 비골목상권
type_code

0